.grid__delete{ 
    position: absolute;
    right: 5%;
    top: 5%;
    background-image: url("/images/Trash.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    width: 18px;
    height: 18px;
    cursor: pointer;
    transition: opacity .3s;
}

.grid__delete:hover{
    opacity: 0.3;
}